<style>
        html {
            weight: 100%;
        }

        body {
            background-image:url(WebsiteImage/HYUNE_MOHAE.png), 
                    url(WebsiteImage/Pink_BG.jpg);
                                 
            background-repeat: no-repeat,
                no-repeat;
            background-attachment: fixed,
                fixed;
            background-position: bottom,
                center;
                
                
            background-size: 100%,cover;
                    
        }


    </style>


