<style>
        html {
            weight: 100%;
        }

        body {
            background-image:url(WebsiteImage/HYUNE_MOHAE.png), 
                    
                    url(WebsiteImage/Pink_BG.jpg);
                                 
            background-repeat: no-repeat,
                
                no-repeat;
            background-attachment: fixed,
                
                fixed;
            background-position: bottom center,
                
                center;
                
                
            background-size: 70px ,150px,cover;
                    
        }
.logo{
        background-image:url(WebsiteImage/tittle.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: top left;
        background-size: 150px;
}

.invisibleLink {
        display: block;
}

    </style>

<div class="logo">
    <a href="https://fn333.github.io" class="invisibleLink"></a>
</div>



